---
import { Markdown } from 'astro/components';
import HeadBase from '../components/HeadBase.astro';
import Wrapper from '../components/Wrapper.astro';
import Layout from '../layouts/layout.astro';

const {content} = Astro.props;
const {title, description, publishDate, author, heroImage, permalink} = content;
const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

function removeTags(string) {
    const regex = /(<([^>]+)>)/ig
    return string.replace(regex, "")
}
---

<Layout title={`${removeTags(title)} - Sanderg.nl`} description={description} permalink={permalink}>
    <Wrapper>
    <div class="mt-2">
        <header>
            <h1 class="title">{title}</h1>
            <p class="publishDate">Laatst bijwerkt op {new Date(publishDate).toLocaleDateString('nl-NL', options)}.</p>
        </header>
        <slot />
    </div>
    </Wrapper>
</Layout>

<style>
.publishDate {
    font-style: italic;
    margin-top: 0;
    color: var(--col-gray);
}

header h1 {
    margin-bottom: -0.25rem;
}
</style>